#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.estaciones {
  display: flex;
  gap: 20px;
}

.estacion {
  border-width: 1px 0 0 0;
  border-color: gray;
  border-style: solid;
  display: grid;
  grid-template-columns: 12fr 1fr;
  padding: 4px;
}

.estacion_seleccionada {
  background-color: black;
  border-width: 1px 0 0 0;
  border-color: gray;
  border-style: solid;
  display: grid;
  grid-template-columns: 12fr 1fr;
  padding: 4px;
}

.estacion_etiqueta {
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;
}

.estacion_name {
  font-weight: bold;
  /* justify-self: start; */
}

.estacion_address {
  display: flex;
  color: crimson;
  gap: 10px;
}

.estacion_icon {
  display: flex;
  align-items: center;
}

.mapa {
  position: sticky;
  top: 0;
}
